@model TreatmentOffering.Models.SpecialistView

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SpecialistView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Name" />
            <div class="form-group">
                <label asp-for="Expertise" class="control-label"></label>
                <input asp-for="Expertise" class="form-control" />
                <span asp-validation-for="Expertise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearsOfExp" class="control-label"></label>
                <input asp-for="YearsOfExp" class="form-control" />
                <span asp-validation-for="YearsOfExp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
