@model IPTMAdminPortal.Models.Insurer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Insurer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InsurerName" class="control-label"></label>
                <input asp-for="InsurerName" class="form-control" />
                <span asp-validation-for="InsurerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsurerPackageName" class="control-label"></label>
                <input asp-for="InsurerPackageName" class="form-control" />
                <span asp-validation-for="InsurerPackageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountLimit" class="control-label"></label>
                <input asp-for="AmountLimit" class="form-control" />
                <span asp-validation-for="AmountLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisbursementDuration" class="control-label"></label>
                <input asp-for="DisbursementDuration" class="form-control" />
                <span asp-validation-for="DisbursementDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
